{#
   GT People Full Person Template

/**
 * @file
 *
 * Default theme implementation for GT People profiles.
 *
 * Available variables:
 * - content: Items for the content of the person.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - view_mode: The profile view mode used.
 * - profile: The profile object.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('gt_people/gt_people') }}

{%
  set classes = [
  'gtppl',
  view_mode ? 'gt_people--view-mode--' ~ view_mode|clean_class,
]
%}
<div{{ attributes.setAttribute('id', gt_people.id).addClass(classes) }}>

<div class="gtppl-basic-contact">

  <h3>Contact Information</h3>

  <dl class="gtppl-contact-info">
  
    {% if content.field_gtppl_bldg_name_short is not empty %}
      <dt class="-location">Location</dt>
      <dd class="-location">
        {{ content.field_gtppl_bldg_name_short.0 }} {{ content.field_gtppl_bldg_room.0}}
      </dd>
    {% endif %}

    {% if content.field_gtppl_phone is not empty %}
      <dt class="-phone">Phone</dt>
      <dd class="-phone">
        {{ content.field_gtppl_phone.0 }}
      </dd>
    {% endif %}

    {% if content.field_gtppl_email is not empty %}
      <dt class="-email">Email</dt>
      <dd class="-email">
        <a href="mailto:{{ content.field_gtppl_email.0 }}">{{ content.field_gtppl_email.0 }}</a>
      </dd>
    {% endif %}

    {% if content.field_gtppl_fax is not empty %}
      <dt class="-fax">Fax</dt>
      <dd class="-fax">
        {{ content.field_gtppl_fax.0 }}
      </dd>
    {% endif %}

  </dl>

</div>

<div class="gtppl-profile-full">
  {{ content }}
</div>

</div>
